* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    width: 800px;
    margin: 80px auto;
    padding: 30px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 25px;
}

.menu {
    margin-bottom: 30px;
}

.menu button {
    padding: 12px 20px;
    margin: 5px;

    border: none;
    border-radius: 5px;

    background-color: #333;
    color: white;

    cursor: pointer;

    font-size: 16px;
}

.menu button:hover {
    background-color: #555;
}

.mediaSection {
    margin-top: 20px;
}

.mediaSection h2 {
    margin-bottom: 15px;
}

audio {
    width: 500px;
}

video {
    max-width: 100%;
    border-radius: 8px;
}

.videoContainer {
    position: relative;
    display: inline-block;
}

#subtitleText {
    position: absolute;

    bottom: 45px;
    left: 0;

    width: 100%;

    text-align: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.7);

    font-size: 18px;

    padding: 8px;

    display: none;
}